html {margin: 0; padding: 0;}
header {width:100%; background:#FACA9B url(../Images/logo.png) no-repeat 0% 50%; height:60px; text-align:right;display:inline-block;}
body {margin: 0; padding: 0; background-image:url(../Images/background.jpg); font-family:"Comic Sans MS"; color:white; font-size:14pt;}
a {color:white;  text-decoration: none; display:block; margin-right:80px; font-size:14pt}
ul {list-style: none;}
li { display:inline-block;}
img {width:auto; height:450px; margin-right:20px;}
div { margin-left:20px;margin-top:20px;}
p {font-size:12pt;margin-left:10px;color:black; width:1200px;}
table {color:black; width:40%}
.price {color:white; font-size:17pt; margin-left:20px;text-shadow: 1px 1px 2px black;}
.title {font-size:18pt; font-weight:bold; color:black;}
.fbut {font-size:14pt;font-family:"Comic Sans MS";background-color:white;color:#FACA9B; border-color:#FACA9B; border-radius:10px; width:120px;outline:none;margin-left:20px;}
.sbut {font-size:14pt;font-family:"Comic Sans MS";background-color:#FACA9B;color:white; border-color:white; border-radius:10px; width:120px;outline:none;margin-left:20px;}
.left {width:40px; padding-right:30px; font-weight:bold;}
.right {font-style:italic; text-decoration-line:underline; text-decoration-style:double; text-decoration-color:gray}
footer{
text-align: center;
padding-top: 40px;
margin: 0px auto;
}